services:
  redis:
    image: redis:7-alpine
    container_name: "honeypot-redis"
    ports:
      - "6379:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5

  filebeat:
    build: ./filebeat
    container_name: "honeypot-filebeat"
    depends_on:
      redis:
        condition: service_healthy
    volumes:
      - ./test_logs:/var/log/honeypots:ro

  consumer:
    build: ./consumer
    container_name: "honeypot-consumer"
    depends_on:
      redis:
        condition: service_healthy